@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
    <video autoplay muted loop id="video-bg">
        <source src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/534380/36d92e465af833290ff1def5b2de70c8c534a81d.mp4" type="video/mp4">
    </video>
    <div class="content">
        <h1>Vítam vás na mojej stránke. <br>Stránka je obrazom mojich záujmov. <br>Poskytuje ucelený pohľad  mojej osobnosti a identity.</h1>
        <p>Ďakujem za návštevu.</p>
    </div>
</div>

