@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
    <div class="title-section">
        <h1>O mne</h1>
    </div>
<div class="container1">
    <div class="text-section1">
      <div>
       
        <div class="content1">
                    <h3>Vitajte na mojej osobnej stránke, kde nájdete stručný prehľad o mne, mojich záujmoch a aktivitách. Volám sa Marek a som vášnivým hráčom videohier, čo predstavuje nielen zdroj zábavy, ale aj platformu pre rozvoj mojich schopností a zručností. Venujem sa programovaniu, čo je odrazom mojej zvedavosti a túžby po technologických inováciách, a tiež som zapojený do tvorby dizajnov pre hry, čo mi umožňuje spojiť kreativitu s technickým umením. Moje voľné chvíle často trávim sledovaním anime, seriálov a filmov, čo ma obohacuje o rôzne kultúrne aspekty a inšpiruje ma v mojich vlastných tvorivých projektoch.</h3>
        </div>
      </div>
    </div>
    <div class="image-section1">
        <img src="/Amg/MadaraaEvilmorty.png" alt="Anime"> 
      </div>
  </div>
  <div class="container2">
    <div class="text-section2">
      <div>
                <div class="title2"><h2><li>Informácie o mne</li></h2></div>
        <div class="content2">
           <h3>Moje meno je Marek Lukáč a som hrdým občanom Slovenska, narodeným 27. marca 2000 vo Vranove nad Topľou. Aktuálne žijem v obci Rudlov, ktorá sa nachádza v pôvabnej časti východného Slovenska. Tento región je známy svojou jedinečnou kultúrou a dialektom, ktorý formoval môj jazykový základ. Moje výchovné prostredie mi prinieslo bohatú zmes tradičnej a modernéj slovenčiny, čo niekedy vedie k rozmanitosti v mojom jazykovom prejave. Súčasne som študentom <span style="letter-spacing:normal; text-decoration:underline;"> </h3>
                    <h3>
                        <a href="https://www.ku.sk/" target="_blank" rel="noreferrer noopener">Katolíckej univerzity v Ružomberku.</a></span><span style="letter-spacing:normal; text-decoration:none;"> kde sa venujem akademickému rastu a rozvoju mojich odborných zručností.</span> </h3>
            
          </span>
        </div>
      </div>
    </div>
   <div class="map-section2">
    <iframe 
    src="https://www.openstreetmap.org/export/embed.html?bbox=21.570083618164066%2C48.92242451348837%2C21.57321453094483%2C48.92321517250578&layer=mapnik&marker=48.92281984300041%2C21.571649074554443"
                    style="border: 1px solid black; min-width: 600px; min-height: 450px;width: 80%; height: 50%;"
                    frameborder="0" scrolling="no" marginheight="0" marginwidwth="0"> 
</iframe>

<small>
    <a href="https://www.openstreetmap.org/?mlat=48.92282&mlon=21.57163#map=18/48.92282/21.57163">Zobraziť väčšiu mapu</a>
</small>
      </div>
  </div>
  <div class="flex-container2">
    <div class="youtube-video">
        <iframe width="760" height="515" src="https://www.youtube.com/embed/srT3I_Irdcs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text-section2">
        <div>
                <div class="title2"><h2> <li>Moje hobby</li></h2> </div>
          <div class="content2">
                    <p> <h3>Moje záujmy sú pestré a rozmanité, čo odráža moju širokú škálu záľub a schopností. Veľkú časť môjho voľného času venujem videohrám, čo je pre mňa nielen zdrojom zábavy, ale aj prostriedkom na rozvoj strategického myslenia a kreativity. Sledovanie seriálov, filmov a anime mi poskytuje príležitosť na kultúrne obohatenie a inšpiráciu. Programovanie a vytváranie dizajnov do hier sú odrazom mojej technickej zručnosti a umožňujú mi skombinovať technologické poznatky s estetickým cítením. Airsoft je mojou záľubou v outdoorovej aktivite, kde uplatňujem taktické schopnosti a tímovú prácu. Varenie mi zase umožňuje experimentovať s rôznymi chuťami a textúrami, a je to spôsob, ako vyjadriť kreativitu v kuchyni. Hudba je zase pre mňa zdrojom relaxácie a inšpirácie. Okrem týchto koníčkov sa venujem aj mnohým ďalším aktivitám, ktoré obohacujú môj život a rozširujú moje obzory</h3>.</p>
                </div>
        </div>
      </div>
    <div class="facebook-video">
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmarek.lukac.129%2Fvideos%2F3704656129628081&show_text=0&width=560" width="860" height="515" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
    </div>
</div>

  
    <div class="container2">
        <div class="image-section2">
          <img src="/Amg/Rodina.jpg" alt="Anime"> 
        </div>
        <div class="text-section2">
          <div>
                <div class="title2">
                    <h2><li>Ja a moja rodina</li></h2>
            </div>
            <div class="content2">
                    <h3>Rodina je pre mňa základom môjho života a zdrojom nekonečnej podpory a inšpirácie. Hlboko si vážim každý moment strávený s mojimi blízkymi a som nesmierne vďačný za všetko, čo pre mňa urobili. Ich neustála podpora a vedenie hrajú kľúčovú úlohu v mojom osobnom a profesionálnom raste. Moja rodina ma neustále motivuje k dosahovaniu vyšších cieľov a je základným kameňom mojej životnej cesty. </h3>
                </div>
          </div>
        </div>
      </div>

</body>